/* common css starts */
* {
    margin: 0;
    padding: 0;
    /* font-family: 'Inter', sans-serif;
    font-family: 'Merriweather', serif; */
}
main {
    max-width: 1320px;
    margin: 0 auto;
    padding-top: 20px;
}
/* common css ends */
/* banner starts */
.banner {
    background-image: url(../images/Banner\ Image.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 600px;
    
}
.banner .banner-overlay {
    border-radius: 16px;
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);
}
.banner .banner-text {
    color: white;
    text-align: center;
    justify-content: center;

}
.banner .banner-text h5 {
    padding-top: 16%;
    font-family: 'Merriweather', serif;
    font-size: 32px;
    font-weight: 400;
}
.banner .banner-text h1 {
    font-family: 'merriweather', serif;
    font-size: 64px; 
    font-weight: 900; 
    line-height: 80px;
    padding-top: 10px;
}
/* banner ends */
/* offer section starts */
.offer {
    padding-top: 100px;
}
.offer h3 {
    padding-bottom: 20px;
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 88px;
    font-weight: 700;
}
.offer p {
    padding-bottom: 10px;
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
}
.offer h4 {
    padding-bottom: 35px;
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;

}
.offer img {
    width: 50%;
}
.vec {
    display: flex;
    justify-content: center;
    align-items: center;
}
/* offer ends */
/* midnnight party starts */
.midnight {
    margin-top: 100px;
    background: url(../images/Vectorrr.png);
    background-size: cover;
    height: 600px;
    
}
.midnight .mid-overlay {
    background: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);
    display: flex;
    height: 600px;
}
.midnight .midnight-text {
    padding-top: 150px;
    padding-left: 100px;
}
.midnight img {
    padding-top: 35px;
}
.midnight .midnight-text h2 {
    width: 642px;
    color: #fff;
    font-size: 64px; 
    font-family: Merriweather; 
    font-weight: 900; 
    line-height: 88px; /* 137.5% */ 
    letter-spacing: 7.04px; 
}
.midnight .midnight-text p {
    width: 800px;
    color: rgba(255, 255, 255, 0.80);
font-family: Inter;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px; /* 166.667% */
}
.midnight .midnight-text h6 {
    padding-top: 48px;
    padding-left: 25px;
    color: #FFF;
    font-size: 20px;
    font-family: Inter;
    font-weight: 700;
}
/* midnight ends */
/* event starts */
#event {
    margin-top: 100px;
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    height: 482px;
}
#event .event-text ul {
    list-style: none;
    font-family: Inter; 
}
#event .event-text li {
    font-size: 32px; 
    font-weight: 600; 
    line-height: 56px;
}
#event .event-text li .red {
    color: #F00;
}
#event .event-text {
    text-align: center;
    padding-top: 100px;
}
button {
    margin-top: 64px;
    border-radius: 5px;
    background: #F00;
    border: 0;
    padding: 18px 18px;
    color: #FFF; 
    font-family: Inter; 
    font-weight: 700; 
    font-size: 20px; 
}
/* event ends */
/* new year starts */
#new-year {
    margin-top: 100px;
    display: flex;
    gap: 50px;
}
#new-year .sell-1 h4 {
    text-align: center;
    color: #F00;
    padding-bottom: 8px;
    font-size: 24px; 
    font-weight: 500; 
    font-family: Inter; 
    border : 2px solid blue;
    max-width: 207px;
}
#new-year .sell-1 h2 {
    padding-bottom: 16px;
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;

}
#new-year .sell-1 p {
    width: 393px;
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
}
#new-year .sell-2 img {
    border: 10px solid red; /* Outer circle*/
    border-radius: 50%;
    padding: 20px;
}

#new-year .sell-2 img::after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    border: 10px solid white; /* Inner circle */
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
}
#new-year .sell-3 h4 {
    padding-bottom: 10px;
    color: #F00;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;

}
#new-year .sell-3 p {
    padding-bottom: 131px;
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    line-height: 32px;
}
/* new year ends */
/* portfolio starts */
#portfolio {
    margin-top: 100px;
}
#portfolio h4 {
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;

}
#portfolio h2 {
    padding-bottom: 15px;
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
}
#portfolio p {
    width: 896px;
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
}
.portfolio-container {
    display: flex;
    flex-wrap: wrap;
}

.portfolio-part {
    flex: 0 0 33%;
    box-sizing: border-box;
    padding: 10px; 
}

.portfolio-part img {
    width: 100%;
    height: auto;
    display: block;
    border: 2px solid transparent;
    transition: border-color 0.3s;
}
.portfolio-part:hover img {
    border-color: purple;
}
/* postfolio ends */
/* subcriber starts */
#subscribe {
    margin-top: 100px;
    height: 616px;
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);
}
#subscribe .sub-elements ul {
    list-style: none;
} 
#subscribe .sub-elements ul li {
    text-align: center;
}
#subscribe .sub-elements ul li img {
    padding-top: 80px;
}
#subscribe .sub-elements ul li h3 {
    padding-top: 40px;
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
}
#subscribe .sub-elements ul li p {
    text-align: center;
    max-width: 896px;
    color: rgba(7, 2, 17, 0.60); 
    font-family: Inter; 
    font-size: 20px; 
    font-weight: 400; 
    line-height: 32px; /* 160% */ 
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 38px;
}
input {
    position: relative;
    display: inline-block;
    font-size: 20px;
    box-sizing: border-box;
}
input[type="email"]
{
    background: #FFF;
    height: 50px;
    border: none;
    outline: none;
    padding: 0 25px;
    border-radius: 25px 0 0 25px;
}
#subscribe .sub-elements .cribe {
    display: inline-block;
    background-color: #F00;
    color: #fff;
    padding: 15px 25px;
    border: none;
    border-radius: 0 25px 25px 0;
    cursor: pointer;
}
/* subscriber ends */
/* footer starts */
footer {
    margin-top: 100px;
    padding-top: 100px;
    background: #070211;
    height: 400px;
    color: #FFF; 
    font-family: Inter; 
    font-weight: 500; 
    font-size: 24px; 
}
.row {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
}
#foot .row {
    max-width: 1320px;
    margin: 0 auto;
    justify-content: space-between;
}
#foot .row p {
    padding-bottom: 100px;
}
#foot .row-images {
    padding-bottom: 100px;
    max-width: 1320px;
    margin: 0 auto;
    text-align: center;
}
#foot .row-text {
    max-width: 1320px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}